/* ---Fonts---*/
/* montserrat-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: url('./fonts/montserrat-v25-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  
/* montserrat-500 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    src: url('./fonts/montserrat-v25-latin-500.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* handjet-300 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Handjet';
    font-style: normal;
    font-weight: 300;
    src: url('./fonts/handjet-v17-latin-300.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  
  /* handjet-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Handjet';
    font-style: normal;
    font-weight: 400;
    src: url('./fonts/handjet-v17-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* roboto-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/roboto-v30-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
  
  /* roboto-italic - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 400;
    src: url('../fonts/roboto-v30-latin-italic.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
  

/* borel-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Borel';
    font-style: normal;
    font-weight: 400;
    src: url('./fonts/borel-v2-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

body {
    background-color: #F6F6F6;
}

/* handles dark theme */
@media (prefers-color-scheme: dark) {
    body {
        background-color: #1f1e1e;
        color: #ffffff;
    }

    body header a {
        color: #ffffff;
    }

    body main p a:link,
    body main :visited {
        text-decoration-line: underline;
        color: #ffffff
    }

    body main a:link,
    body main :visited {
        text-decoration-line: none;
        color: #ffffff
    }

    body main p a:hover {
        color: #d89494;
        transition: all 0.2s ease 0s;
    }

    body main a:hover {
        color: #d89494;
        transition: all 0.2s ease 0s;
    }

    body main img[src$=".svg"] { /* inverting of only images that end in .svg aka logos  */
        -webkit-filter: invert(100%);
                filter: invert(100%);
    }
}

/* ---header css start--- */
header { /* restricts the size of header section */
    max-width: 32rem;
    margin: 0 auto;
}

header {
    font-size: 1rem;
    font-family: "Montserrat", sans-serif;
}

header a {
    color: #000000;
    transition: all 0.2s ease 0s;
}

header strong { /* logo */
    font-family: 'Borel', cursive;
    font-size: 1.5rem;
}

header a:hover {
    color: #88ff88;
}

/* eliminates link visited line */
header a:link,
header a:visited {
    text-decoration-line: none;
}
/* ---header css end--- */

/* ---main css start--- */
main { /* restricts the size of main section */
    max-width: 48rem;
    margin: 0 auto;
}

main img:not([src$=".svg"]) { /* restricts the size of images that do NOT end in '.svg' */
    max-width: 100%;
    margin-bottom: 0.5rem;
    border-radius: 5%;
}

main h1 {
    font-size: 3.25rem;
    margin: 2rem 0rem;
    font-family: 'Handjet', cursive;
}

main h2 {
    font-size: 2.75rem;
    margin: 1rem 0rem;
    font-family: 'Handjet', cursive;
}

main h3 {
    font-size: 2rem;
    margin: 1rem 0rem;
    font-family: 'Handjet', cursive;
}

main h4 {
    font-size: 1.5rem;
    margin: 1rem 0rem;
    font-family: 'Handjet', cursive;
}

main p {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6rem;
    margin-bottom: 2rem;
}

main iframe {
    margin-bottom: 0rem;
}

main figure {
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

main p a:link,
main :visited {
    text-decoration-line: underline;
    color: #000000;
}

main a:link,
main :visited {
    text-decoration-line: none;
    color: #000000
}

main a:hover {
    color: #d89494;
    transition: all 0.2s ease 0s;
}


/* ---main css end--- */

/* manages space for full screen devices*/
@media(min-width:66.875rem) {
    body {
        margin-top: 2rem;
        display: grid;
        grid-template-columns: auto auto;
        gap: 3rem; /* adjusts gap between navi bar and body */
        justify-items: left;
    }

    main {
        margin: 0rem 0rem 20rem;
        margin-right: 6rem;
    }

    main :first-child {
        margin-top: 0rem;
    }

    header {
        margin: 0;
        margin-top: 0.5rem;
        justify-self: right;
        flex-direction: column;
        justify-content: right;
        text-align: center;
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
    }

    header div {
        flex-direction: column;
        justify-content: right;
        text-align: center;
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
    }
}

/* manages space for smaller screen devices*/
@media (max-width: 66.875rem) {
    body {
        margin-top: 2rem;
        display: grid;
        grid-template-columns: auto;
        gap: 3rem;
        justify-items: left;
    }

    main {
        margin: 0rem 20rem;
        margin-right: 2rem;
        margin-left: 2rem;
    }

    main :first-child {
        margin-top: 0rem;
    }

    header {
        margin-top: 0.5rem;
        justify-self: center;
        flex-direction: row;
        text-align: center;
        align-items: center;
        gap: 1rem;
    }

    header div {
        flex-direction: row;
        text-align: center;
        align-items: center;
        gap: 2rem;
    }

    header div a {
        margin-inline: 1rem;
    }
}